body {
  /* background-image: url(MatrixAnim.gif); */
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  overflow: hidden;
  animation: none;
}
video {
  position: fixed;
  top: 0%;
  left: 0%;
  scale: 1.03;
  z-index: -5;
}
h1,
h2 {
  border-radius: 30px;
  text-shadow: 3px 3px 40px rgb(115, 246, 135);
  filter: drop-shadow(0.2rem 0.2rem black);
}
h1 {
  font-size: 3.5rem;
  margin-top: 20%;
}
h2 {
  font-size: 2rem;
  margin-top: -40px;
}
#generate {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 15px;
  background-color: black;
  box-shadow: 0px 0px 40px rgb(115, 246, 135);
  margin-top: 10%;
  transition: scaleX 0.3s ease-in-out;
  transition: brightness 0.3s ease-in-out;
}
#generate:hover {
  cursor: pointer;
  transform: scaleX(1.01) scaleY(0.97);
}
#generate:active {
  filter: brightness(200%);
}
.passwords {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  margin: 10%;
}
#copyPass1:disabled {
  background-color: blue;
  box-shadow: inset 0px 10px 30px rgb(181, 181, 222);
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  border-radius: 50px;
  padding: 20px 70px;
  margin-right: 5%;
  height: 5rem;
  width: 22rem;
  font-size: 1rem;
  transition: hue-rotate 0.4s ease-in;
}
#copyPass1:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Orbitron", sans-serif;
}
.newPass1:enabled {
  background-color: blue;
  color: whitesmoke;
  box-shadow: inset 0px 10px 30px rgb(181, 181, 222);
  border-radius: 50px;
  padding: 20px 70px;
  margin-right: 5%;
  height: 5rem;
  width: 22rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  transition: hue-rotate 0.4s ease-in;
}
#copyPass2:disabled {
  background-color: red;
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  box-shadow: inset 0px 10px 30px rgb(219, 173, 173);
  border-radius: 50px;
  padding: 20px 70px;
  margin-left: 5%;
  width: 22rem;
  font-size: 1rem;
}
.newPass1:active {
  filter: hue-rotate(240deg);
}
#copyPass2:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Orbitron", sans-serif;
}
.newPass2:enabled {
  background-color: red;
  color: whitesmoke;
  box-shadow: inset 0px 10px 30px rgb(219, 173, 173);
  border-radius: 50px;
  padding: 20px 70px;
  margin-left: 5%;
  width: 22rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  transition: hue-rotate 0.4s ease-in;
}
.newPass2:active {
  filter: hue-rotate(90deg);
}
#message {
  font-size: 1.7rem;
  text-shadow: 3px 3px 40px rgb(115, 246, 135);
  filter: drop-shadow(0.2rem 0.2rem black);
}
